html, body {
    padding:0;
    margin: 0;
    background-color:honeydew;
    position: relative;
}

.box {
    padding: 5px 5px 5px 5px;
}

.container {
    padding: 5px 5px 5px 5px;
}

img {
    max-width:100%;
    height:auto;
}

#footer {
    position: fixed;
    align-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: darkgray;
    color: whitesmoke;
}